In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("preprocessed_house_rent.csv")

In [4]:
dataset

,BHK,Rent,Size,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom,Floor Number,Total Floors
0,2,10000,1100,2,4,2,1,2,0,2
1,2,20000,800,2,4,1,1,1,1,3
2,2,17000,1000,2,4,1,1,1,1,3
3,2,10000,800,2,4,2,1,1,1,2
4,2,7500,850,1,4,2,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,1,3,1,1,2,3,5
4742,3,29000,2000,2,3,1,1,3,1,4
4743,3,35000,1750,1,3,1,1,3,3,5
4744,3,45000,1500,1,3,1,2,2,23,34
4745,2,15000,1000,1,3,2,0,2,4,5

In [6]:
independent=dataset[[ 'BHK', 'Size', 'Area Type', 'Furnishing Status',
       'Tenant Preferred', 'Bathroom', 'City', 'Floor Number','Total Floors']]

In [7]:
independent

,BHK,Size,Area Type,Furnishing Status,Tenant Preferred,Bathroom,City,Floor Number,Total Floors
0,2,1100,2,2,1,2,4,0,2
1,2,800,2,1,1,1,4,1,3
2,2,1000,2,1,1,1,4,1,3
3,2,800,2,2,1,1,4,1,2
4,2,850,1,2,0,1,4,1,2
...,...,...,...,...,...,...,...,...,...
4741,2,1000,1,1,1,2,3,3,5
4742,3,2000,2,1,1,3,3,1,4
4743,3,1750,1,1,1,3,3,3,5
4744,3,1500,1,1,2,2,3,23,34
4745,2,1000,1,2,0,2,3,4,5

In [8]:
dependent=dataset[['Rent']]

In [9]:
dependent

       Rent
0     10000
1     20000
2     17000
3     10000
4      7500
...     ...
4741  15000
4742  29000
4743  35000
4744  45000
4745  15000

[4746 rows x 1 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent = sc.fit_transform(independent)

In [12]:
import pickle

In [13]:
loaded_model=pickle.load(open("finalized_model_RandomForest.sav",'rb'))

In [21]:
Preinput = sc.fit_transform([2,1100,2,4,1,2,2,1,2])
result=loaded_model.predict(Preinput)

ValueError: Expected 2D array, got 1D array instead:
array=[2.0e+00 1.1e+03 2.0e+00 4.0e+00 1.0e+00 2.0e+00 2.0e+00 1.0e+00 2.0e+00].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.