In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv("House_rent.csv")

In [3]:
df

,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom
0,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2
1,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1
2,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1
3,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1
4,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1
...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2
4742,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3
4743,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3
4744,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2
4745,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2

In [4]:
# 2. Check for missing values
df.isnull().sum()

BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
dtype: int64

In [5]:
# Clean the 'Floor' column (split into 'Current Floor' and 'Total Floors')
def extract_floors(floor_str):
    try:
        if 'Ground' in floor_str:
            return 0, int(floor_str.split('out of')[-1].strip())
        else:
            parts = floor_str.split('out of')
            return int(parts[0].strip()), int(parts[1].strip())
    except:
        return np.nan, np.nan

df[['Current Floor', 'Total Floors']] = df['Floor'].apply(lambda x: pd.Series(extract_floors(str(x))))

In [6]:
# Drop original floor column
df.drop('Floor', axis=1, inplace=True)

In [7]:
# Drop unnecessary columns (optional)
df.drop('Area Locality', axis=1, inplace=True)

In [8]:
# One-hot encode categorical variables
categorical_cols = ['Area Type', 'City', 'Furnishing Status', 'Tenant Preferred']
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False,dtype=int)

In [9]:
# Save the cleaned dataset to a new CSV
df_encoded.to_csv('cleaned_house_rent_dataset.csv', index=False)

In [10]:
print(" Dataset cleaned and saved as 'cleaned_house_rent_dataset.csv'")

 Dataset cleaned and saved as 'cleaned_house_rent_dataset.csv'