In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR  # This line was missing
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset1=pd.read_csv("preprocessed_house_rent.csv",index_col=None)
df2=dataset1
df2 = pd.get_dummies(df2, drop_first=True,dtype=int)
indep_X=df2.drop('Total Floors',axis=1)
dep_Y=df2['Total Floors']

In [3]:
df2

,BHK,Rent,Size,Area Type,Furnishing Status,Tenant Preferred,Bathroom,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Floor Number,Total Floors
0,2,10000,1100,2,2,1,2,0,0,0,1,0,0,2
1,2,20000,800,2,1,1,1,0,0,0,1,0,1,3
2,2,17000,1000,2,1,1,1,0,0,0,1,0,1,3
3,2,10000,800,2,2,1,1,0,0,0,1,0,1,2
4,2,7500,850,1,2,0,1,0,0,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,1,1,1,2,0,0,1,0,0,3,5
4742,3,29000,2000,2,1,1,3,0,0,1,0,0,1,4
4743,3,35000,1750,1,1,1,3,0,0,1,0,0,3,5
4744,3,45000,1500,1,1,2,2,0,0,1,0,0,23,34
4745,2,15000,1000,1,2,0,2,0,0,1,0,0,4,5

In [4]:
# Separate features (X) and target variable (Y)
X = df2.drop('Rent', axis=1)  # Features
Y = df2['Rent']  # Target variable

In [18]:
# Feature Selection using `SelectKBest`
selector = SelectKBest(score_func=f_regression, k=3)  # Select top 5 features (you can change 'k' based on your needs)
# Fit the selector to the data
X_new = selector.fit_transform(X, Y)

# Get the selected feature names
selected_features = X.columns[selector.get_support()]
print("Selected Features: ", selected_features)

Selected Features:  Index(['BHK', 'Size', 'Bathroom'], dtype='object')

In [19]:
# Train a Regression Model
 #After selecting the best features, we can use a regression model like *Linear Regression* or *Random Forest Regressor*.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [20]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [21]:
# Initialize models
models = {
    "Linear Regression": LinearRegression(),
    "Support Vector Machine": SVR(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Decision Tree Regressor": DecisionTreeRegressor()
}

In [22]:
# Dictionary to store model evaluation results
results = {}

In [23]:
# Evaluate each model
for model_name, model in models.items():
    # Fit the model
    model.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = model.predict(X_test)
    
    # Calculate metrics
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    
    # Store the results
    results[model_name] = {'MAE': mae, 'MSE': mse, 'RMSE': rmse, 'R2': r2}

#Convert results to DataFrame for easier comparison
results_df = pd.DataFrame(results).T
print(results_df)

                                  MAE           MSE          RMSE        R2
Linear Regression        21886.559391  1.914475e+09  43754.716266  0.519626
Support Vector Machine   24160.981550  4.313016e+09  65673.553299 -0.082209
Random Forest Regressor  13909.074190  2.351387e+09  48491.099165  0.409997
Decision Tree Regressor  15096.098947  2.439650e+09  49392.814417  0.387850